html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/poppins-regular.woff2") format("woff2"), url("../fonts/poppins-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

* {
  outline: none;
}

.header {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}
.header .bg {
  width: 748px;
  height: 217px;
  position: absolute;
  left: 70px;
  top: 0px;
}
@media (max-width: 915px) {
  .header .bg {
    left: -33px;
  }
}
@media (max-width: 760px) {
  .header .bg {
    width: 290px;
    height: 220px;
    top: 10px;
    left: -27px;
  }
}
.header .blur {
  height: 154px;
  background: rgba(208, 238, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 0px 0px 32px 0px;
}
@media (max-width: 760px) {
  .header .blur {
    height: 120px;
    border-radius: 0;
  }
}
.header .logo {
  width: 242px;
  height: 139px;
  position: absolute;
  left: 70px;
  top: 15px;
}
@media (max-width: 1170px) {
  .header .logo {
    left: 54px;
  }
}
@media (max-width: 915px) {
  .header .logo {
    left: 20px;
  }
}
@media (max-width: 760px) {
  .header .logo {
    width: 94px;
    height: 54px;
    top: 8px;
    left: 10px;
  }
}
.header .search {
  position: absolute;
  right: 70px;
  top: 32px;
  width: 688px;
}
@media (max-width: 1170px) {
  .header .search {
    width: 464px;
    right: 54px;
  }
}
@media (max-width: 915px) {
  .header .search {
    width: 456px;
    top: 20px;
    right: 32px;
  }
}
@media (max-width: 760px) {
  .header .search {
    width: calc(100vw - 20px);
    right: 10px;
    left: 10px;
    top: 70px;
  }
}
.header .search-input {
  width: 100%;
  padding: 13px 40px 13px 20px;
  height: 48px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #131930;
  border-radius: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #131930;
}
@media (max-width: 760px) {
  .header .search-input {
    padding: 13px 40px 13px 16px;
    font-size: 12px;
    line-height: 18px;
  }
}
.header .search-input::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #131930;
}
@media (max-width: 760px) {
  .header .search-input::placeholder {
    font-size: 12px;
    line-height: 18px;
  }
}
.header .search-icon {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.header .nav-buttons {
  display: flex;
  position: absolute;
  right: 70px;
  bottom: 70px;
  gap: 16px;
}
@media (max-width: 1170px) {
  .header .nav-buttons {
    right: 54px;
  }
}
@media (max-width: 915px) {
  .header .nav-buttons {
    right: 36px;
  }
}
@media (max-width: 760px) {
  .header .nav-buttons {
    display: none;
  }
}
.header .nav-buttons_mobile {
  width: 58px;
  height: 38px;
  display: none;
  position: absolute;
  top: 16px;
  right: 10px;
  cursor: pointer;
}
@media (max-width: 760px) {
  .header .nav-buttons_mobile {
    display: block;
    z-index: 2;
  }
}
.header .nav-menu_mobile {
  width: 280px;
  padding: 2px 16px 11px;
  background: #ffac4e;
  border-radius: 8px;
  position: absolute;
  top: 135px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
}
.header .nav-menu_mobile.active {
  display: block;
}
.header .nav-menu_mobile-link {
  padding: 9px 0;
  text-align: center;
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.header .nav-button {
  padding: 16px 16px 0;
  cursor: pointer;
}
.header .nav-button .nav-link {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #2b3543;
}
.header .nav-button .nav-marker {
  height: 4px;
  background: transparent;
  border-radius: 2px;
}
.header .nav-button.active .nav-marker {
  background: #ffa135;
}

.breadcrumbs-wrapper {
  display: flex;
  gap: 48px;
}
@media (max-width: 760px) {
  .breadcrumbs-wrapper {
    flex-direction: column;
    gap: 0px;
  }
}
.breadcrumbs-wrapper .breadcrumbs {
  height: 74px;
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #636363;
  z-index: 1;
}
@media (max-width: 760px) {
  .breadcrumbs-wrapper .breadcrumbs {
    height: 50px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 18px;
  }
}
.breadcrumbs-wrapper .ellipse {
  width: 322px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(208, 238, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 0px 0px 32px 32px;
}
@media (max-width: 915px) {
  .breadcrumbs-wrapper .ellipse {
    width: 262px;
  }
}
@media (max-width: 760px) {
  .breadcrumbs-wrapper .ellipse {
    width: 100%;
  }
}
.breadcrumbs-wrapper .ellipse::after {
  content: "";
  background: radial-gradient(circle at 100% 100%, rgba(0, 0, 0, 0) 35px, rgba(208, 238, 255, 0.5) 10px);
  background-position: top left;
  backdrop-filter: blur(5px);
  background-size: 57% 57%;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin-top: 120px;
  padding: 30px;
  position: absolute;
  right: -60px;
  top: -120px;
}
.breadcrumbs-wrapper .ellipse.active {
  border-radius: 0;
}

.menu {
  width: 322px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: rgba(208, 238, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 0px 0px 32px 32px;
  top: 228px;
  left: 0;
  position: absolute;
  max-height: 0;
  transition: max-height 0.9s ease-out;
  overflow: hidden;
}
@media (max-width: 915px) {
  .menu {
    width: 262px;
  }
}
@media (max-width: 760px) {
  .menu {
    width: 100%;
    top: 194px;
    z-index: 2;
  }
}
.menu.active {
  max-height: 594px;
  padding-bottom: 16px;
}
.menu-additional {
  width: 200px;
  padding: 11px 16px;
  background: #ffac4e;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 260px;
  display: none;
}
@media (max-width: 915px) {
  .menu-additional {
    left: 230px;
  }
}
.menu-additional.active {
  display: block;
}
@media (max-width: 760px) {
  .menu-additional.active {
    display: none;
  }
}
.menu-additional_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.menu-additional_item {
  display: block;
  text-align: center;
  padding: 9px;
  border-bottom: 1px solid #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}
.menu-additional_item:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.menu-additional_01 {
  top: 228px;
}
.menu-additional_02 {
  top: 280px;
}
.menu-additional_03 {
  top: 332px;
}
.menu-additional_04 {
  top: 384px;
}
.menu-additional_05 {
  top: 436px;
}
.menu-additional_06, .menu-additional_07, .menu-additional_08, .menu-additional_09, .menu-additional_10, .menu-additional_11 {
  top: auto;
  bottom: -561px;
}

.main {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 270px;
  grid-template-areas: "cards banners" "books banners" "question banners";
}
@media (max-width: 1170px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-areas: "cards" "books" "banners " "question";
  }
}
.main .banners {
  height: 1800px;
  background: red;
  grid-area: banners;
}
.main .books {
  min-height: 100px;
  grid-area: books;
  background: blue;
}
.main .question {
  grid-area: question;
  min-height: 100px;
  background: lawngreen;
}
.main .cards {
  grid-area: cards;
  background: #000;
}
.main .cards .card {
  width: 292px;
  height: 210px;
  overflow: hidden;
}
.main .cards .card .top {
  display: flex;
  gap: 12px;
}
.main .cards .card .name {
  padding-top: 10px;
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #4599f9;
}
.main .cards .card .classes {
  font-size: 14px;
  line-height: 22px;
  color: #131930;
}
.main .cards .card .bottom {
  padding: 22px 16px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 22px;
}
.main .cards .card .bottom a {
  width: min-content;
}
.footer {
  padding: 17px 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(208, 238, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 32px 32px 0px 0px;
  gap: 8px;
}
@media (max-width: 1170px) {
  .footer {
    padding: 17px 54px;
  }
}
@media (max-width: 760px) {
  .footer {
    padding: 10px 21px;
    flex-direction: column;
    align-items: start;
  }
  .footer a {
    width: max-content;
  }
}
.footer p, .footer a {
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
}
.footer a:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.footer .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #131930;
}
@media (max-width: 760px) {
  .footer .left {
    width: 100%;
    order: 2;
  }
}
.footer .right {
  width: 50%;
  display: flex;
  justify-content: space-between;
  color: #ffa135;
}
@media (max-width: 760px) {
  .footer .right {
    width: 100%;
    flex-direction: column;
  }
}

.class-select {
  width: 183px;
  height: 42px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 11px;
  background: #f8991d;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  position: relative;
}
@media (max-width: 760px) {
  .class-select {
    width: 280px;
    padding: 10px 20px;
    justify-content: space-between;
  }
}
.class-select::before {
  content: "";
  border-radius: 8px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 8px;
  position: absolute;
}
.class-select:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.class-select:hover::before {
  background: rgba(255, 255, 255, 0.08);
}
.class-select .text {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}
.class-select .img {
  width: 12px;
  height: 5px;
}

.class-select_item {
  padding: 10px 26px 10px 20px;
  justify-content: space-between;
}
.class-select_item .img {
  transform: rotate(270deg);
}
@media (max-width: 760px) {
  .class-select_item .img {
    transform: rotate(0deg);
  }
}

.card {
  background: rgba(208, 238, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 32px;
}

.number {
  width: 30px;
  height: 36px;
  padding: 7px;
  background: #ffa135;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
}
.number.primary {
  background: #f8991d;
}