.about {
    padding: 32px;
    // margin-top: 30px;
    // margin-bottom: 60px;
    @include for-1000-px {
        padding: 24px;
    }
    @include for-640-px {
        padding: 16px;
    }
    .title {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 30px;
        line-height: 42px;

        @include for-1000-px {
            font-size: 24px;
            line-height: 32px;
        }
        @include for-640-px {
            font-size: 20px;
            line-height: 28px;
        }
    }
    .subtitle {
        width: 484px;
        margin-top: 20px;
        margin-bottom: 16px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        @include for-1025-px {
            width: 470px;
            font-size: 14px;
            line-height: 22px;
        }
        @include for-1000-px {
            width: auto;
        }
    }
    .text {
        font-size: 17px;
        line-height: 24px;

        @include for-1025-px {
            font-size: 14px;
            line-height: 22px;
        }
        &:last-child {
            width: 484px;
            @include for-1000-px {
                width: auto;
            }
        }
    }
    ul {
        margin-left: 25px;
        margin-bottom: 20px;
        font-size: 17px;
        line-height: 24px;

        @include for-1025-px {
            font-size: 14px;
            line-height: 22px;
        }
        @include for-1000-px {
            margin-left: 15px;
        }
    }
}
