.breadcrumbs-wrapper {
    display: flex;
    gap: 48px;
    @include for-760-px {
        flex-direction: column;
        gap: 0px;
    }
    .breadcrumbs {
        display: flex;
        align-items: center;
        position: relative;
        font-size: 16px;
        color: #636363;
        z-index: 1;
        flex-wrap: wrap;
        @include for-760-px {
            height: 50px;
            padding-left: 16px;
            font-size: 12px;
            line-height: 18px;
        }
        & li {
            &::after {
                content: "/";
                padding: 0 5px;
            }
            &:last-child {
                &::after {
                    content: "";
                    padding: 0;
                }
            }
        }
        .link {
            flex-shrink: 0;
            transition: 0.3s;
            &:hover {
                opacity: 0.75;
            }
        }
    }
    .ellipse {
        width: 322px;
        height: 74px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(208, 238, 255, 0.5);
        backdrop-filter: blur(5px);
        border-radius: 0px 0px 32px 32px;
        @include for-915-px {
            width: 262px;
        }
        @include for-760-px {
            width: 100%;
        }
        &::after {
            content: "";
            background: radial-gradient(circle at 100% 100%, rgba(0, 0, 0, 0) 35px, rgba(208, 238, 255, 0.5) 10px);
            background-position: top left;
            backdrop-filter: blur(5px);
            background-size: 57% 57%;
            background-repeat: no-repeat;
            width: 32px;
            height: 32px;
            margin-top: 120px;
            padding: 30px;
            position: absolute;
            right: -60px;
            top: -120px;
            @include for-760-px {
                display: none;
            }
        }
        &.active {
            border-radius: 0;
        }
    }
}
