.el31 {
    width: 168px;
    height: 168px;
    left: 292px;
    top: 456px;
    background: #91bfe9;
    opacity: 0.2;
}
.el32 {
    width: 62.25px;
    height: 62.25px;
    left: 391px;
    top: 856px;
    background: #84a4f9;
    opacity: 0.4;
}
.el33 {
    width: 168px;
    height: 168px;
    left: 1268px;
    top: 2246px;
    background: #91bfe9;
    opacity: 0.2;
}
.el34 {
    width: 48px;
    height: 48px;
    left: 1435px;
    top: 2604px;
    background: #e4eafa;
}
.el35 {
    width: 62.25px;
    height: 62.25px;
    left: 1367px;
    top: 2646px;
    background: #84a4f9;
    opacity: 0.4;
}
