.class-select {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 11px;
    background: #f8991d;
    border-radius: 8px;
    cursor: pointer;
    .text {
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #ffffff;
    }
    .img {
        width: 12px;
        height: 5px;
    }
    &:active {
        background: red;
    }
}
