.footer {
    max-width: 1280px;
    margin: 61px auto 0;
    padding: 17px 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(208, 238, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 32px 32px 0px 0px;
    gap: 8px;
    @include for-1340-px {
        margin-top: 60px;
    }
    @include for-1170-px {
        padding: 17px 54px;
    }
    @include for-1000-px {
        padding-top: 40px;
    }
    @include for-760-px {
        padding: 10px 21px;
        flex-direction: column;
        align-items: start;
        & a {
            width: max-content;
        }
    }
    @include for-640-px {
        padding-top: 30px;
    }
    & p,
    & a {
        font-style: normal;
        font-size: 14px;
        line-height: 22px;
    }
    & a:hover {
        opacity: 0.8;
        transition: 0.3s;
    }
    .left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include for-760-px {
            width: 100%;
            order: 2;
        }
    }
    .right {
        width: 50%;
        display: flex;
        justify-content: space-between;
        color: #ffa135;
        @include for-760-px {
            width: 100%;
            flex-direction: column;
        }
    }
}
