.header {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    .bg {
        width: 748px;
        height: 217px;
        position: absolute;
        left: 70px;
        top: 0px;
    }
    .blur {
        height: 154px;
        background: rgba(208, 238, 255, 0.5);
        backdrop-filter: blur(5px);
        border-radius: 0px 0px 32px 0px;
    }
    .logo {
        width: 242px;
        height: 139px;
        position: absolute;
        left: 70px;
        top: 15px;
    }
    .search {
        position: absolute;
        right: 70px;
        top: 32px;
        &-input {
            padding: 13px 40px;
            width: 688px;
            height: 48px;
            background: rgba(255, 255, 255, 0.5);
            border: 1px solid #131930;
            border-radius: 16px;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            color: #131930;
            &::placeholder {
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
                color: #131930;
            }
        }
        &-icon {
            width: 17px;
            height: 17px;
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
        }
    }
    .nav {
        &-buttons {
            display: flex;
            position: absolute;
            right: 70px;
            bottom: 70px;
            gap: 16px;
        }
        &-button {
            padding: 16px 16px 0;
            cursor: pointer;
            .nav-link {
                margin-bottom: 24px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #2b3543;
            }
            .nav-marker {
                height: 4px;
                background: transparent;
                border-radius: 2px;
            }
            &.active {
                .nav-marker {
                    background: #ffa135;
                }
            }
        }
    }
}
