.menu {
    width: 322px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: rgba(208, 238, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 0px 0px 32px 32px;
    top: 228px;
    left: 0;
    position: absolute;
    max-height: 0;
    transition: max-height 0.9s ease-out;
    overflow: hidden;
    // &-accordion-content {
    //     width: 200px;
    //     padding: 11px 16px;
    //     background: #ffac4e;
    //     position: absolute;
    //     max-height: max-content;
    //     z-index: 3;
    //     display: block;
    //     // top: 0;
    //     // left: 260px;
    //     // display: none;
    //     @include for-915-px {
    //         left: 230px;
    //     }
    //     &.active {
    //         z-index: 33;
    //         display: block;
    //         max-height: 594px;
    //         padding-bottom: 16px;
    //         @include for-760-px {
    //             max-height: max-content;
    //         }
    //     }
    //     .menu-additional_title {
    //         font-weight: 600;
    //         font-size: 16px;
    //         line-height: 24px;
    //         display: flex;
    //         align-items: center;
    //         text-align: center;
    //         color: #ffffff;
    //         @include for-760-px {
    //             display: none;
    //         }
    //     }
    // }
    // &-item:hover {
    //     .menu-accordion-content {
    //         display: block;
    //         max-height: max-content;
    //     }
    // }
    @include for-915-px {
        width: 262px;
    }
    @include for-760-px {
        width: 100%;
        top: 194px;
        z-index: 2;
    }
    &.active {
        // max-height: 600px;
        max-height: max-content;
        padding-bottom: 16px;
        overflow: visible;
        @include for-760-px {
            max-height: max-content;
        }
    }
    &-item {
        position: relative;
    }
    &-additional {
        width: 200px;
        padding: 11px 16px;
        background: #ffac4e;
        border-radius: 8px;
        position: absolute;
        top: 0;
        left: 195px;
        display: none;
        @include for-915-px {
            left: 195px;
        }
        @include for-760-px {
            position: static;
            display: none;
        }
        &.active {
            display: block;
            @include for-760-px {
                position: static;
                display: none;
            }
        }
        &_title {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #ffffff;
            @include for-760-px {
                display: none;
            }
        }
        &_item {
            display: block;
            text-align: center;
            padding: 9px;
            border-bottom: 1px solid #ffffff;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            color: #ffffff;
            &:hover {
                opacity: 0.8;
                transition: 0.3s;
            }
        }
        // &_01 {
        //     top: 228px;
        // }
        // &_02 {
        //     top: 280px;
        // }
        // &_03 {
        //     top: 332px;
        // }
        // &_04 {
        //     top: 384px;
        // }
        // &_05 {
        //     top: 436px;
        // }
        // &_06,
        // &_07,
        // &_08,
        // &_09,
        // &_10,
        // &_11 {
        //     top: auto;
        //     bottom: -561px;
        // }
    }
}
