.rating-soc {
    display: flex;
    gap: 74px;
    justify-content: space-between;
    @include for-1000-px {
        flex-direction: column;
        gap: 20px;
    }
    .left {
        padding: 16px 32px;
        display: flex;
        @include for-1000-px {
            justify-content: center;
        }
        @include for-640-px {
            flex-direction: column;
            align-items: center;
        }
        .rating-level {
            padding: 10px;
            &_title {
                margin-bottom: 10px;
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
                @include for-640-px {
                    font-size: 24px;
                    line-height: 32px;
                }
            }
            &_wrapper {
                display: flex;
                gap: 10px;
            }
            &_number {
                font-weight: 600;
                font-size: 30px;
                line-height: 42px;
            }
            &_img {
                width: 49px;
                height: 41px;
                object-fit: cover;
            }
        }
        .white-hr {
            width: 1px;
            height: 100%;
            margin: 0 8px;
            border: 1px solid #ffffff;
            @include for-1000-px {
                margin: 0 32px;
            }
            @include for-640-px {
                width: 225px;
                height: 1px;
                margin: 16px 0;
            }
        }
    }
    .right {
        padding: 24px 32px;
        .title {
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            @include for-1000-px {
                text-align: center;
            }
        }
        .social-networks {
            display: flex;
            gap: 10px;
            justify-content: space-between;
            @include for-1000-px {
                gap: 32px;
                justify-content: center;
            }
            @include for-640-px {
                flex-wrap: wrap;
            }
            .icon {
                width: 48px;
                height: 48px;
                object-fit: cover;
            }
        }
    }
    .rate-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .subtitle {
        margin-bottom: 11px;
        font-size: 12px;
        line-height: 18px;
    }
    .rate {
        padding-left: 10px;
        align-self: start;
    }
    .rate:not(:checked) > input {
        position: absolute;
        top: -9999px;
    }
    .rate:not(:checked) > label {
        float: right;
        width: 27px;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
    }
    .rate > input ~ label {
        margin: 0 6px;
    }
    .rate > input:checked ~ label {
        .star-body {
            fill: #f8991d;
        }
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        .star-body {
            fill: #f8991d;
        }
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        .star-body {
            fill: #f8991d;
        }
    }
}
