.category {
    position: relative;
    overflow: hidden;
    display: grid;
    column-gap: 24px;
    row-gap: 60px;
    grid-template-columns: 1fr 270px;
    grid-template-areas:
        "left-grid-content banners"
        "about banners";
    @include for-1340-px {
        grid-gap: 60px;
        grid-template-columns: calc(100vw - 108px);
        grid-template-areas:
            "left-grid-content"
            "banners "
            "about";
    }
    @include for-1000-px {
        grid-template-columns: calc(100vw - 40px);
        grid-gap: 40px;
    }
    @include for-640-px {
        grid-template-columns: calc(100vw - 20px);
        grid-gap: 30px;
    }
    .main-title {
        margin-bottom: 32px;
        font-weight: 600;
        font-size: 50px;
        line-height: 62px;
        @include for-1000-px {
            font-size: 40px;
        }
        @include for-1000-px {
            margin-bottom: 24px;
            font-size: 24px;
            line-height: 32px;
        }
    }
    .books {
        margin-bottom: 30px;
        .title {
            margin-bottom: 24px;
            font-weight: 600;
            font-size: 30px;
            line-height: 42px;

            @include for-1000-px {
                font-size: 24px;
                line-height: 32px;
            }
            @include for-640-px {
                font-size: 20px;
                line-height: 28px;
            }
        }
        .cards {
            // justify-content: space-between;
        }
    }
}
