.site2 {
    position: relative;
    overflow: hidden;
    display: grid;
    column-gap: 24px;
    row-gap: 60px;
    grid-template-columns: 1fr 270px;
    grid-template-areas:
        "left-grid-content banners"
        "about banners";
    @include for-1340-px {
        grid-gap: 60px;
        grid-template-columns: calc(100vw - 108px);
        grid-template-areas:
            "left-grid-content"
            "banners "
            "about";
    }
    @include for-1000-px {
        grid-template-columns: calc(100vw - 40px);
        grid-gap: 40px;
    }
    @include for-640-px {
        grid-template-columns: calc(100vw - 20px);
        grid-gap: 30px;
    }
    .el21 {
        width: 48px;
        height: 48px;
        left: 109px;
        top: 546px;
        background: #e4eafa;
        @include for-1025-px {
            left: 48px;
            top: 295px;
        }
    }
    .el22 {
        width: 62.25px;
        height: 62.25px;
        left: -2px;
        top: 588px;
        background: #ffe8cd;
        opacity: 0.5;
        @include for-1025-px {
            width: 98px;
            height: 98px;
            left: 776px;
            top: 1050px;
            background: #e9e091;
            opacity: 0.2;
        }
    }
    .el23 {
        width: 168px;
        height: 168px;
        left: -11px;
        top: 646px;
        background: #cbd7f6;
        opacity: 0.5;
        @include for-1025-px {
            left: -80px;
            top: 385px;
            opacity: 0.2;
        }
    }
    .el24 {
        width: 168px;
        height: 168px;
        left: 918px;
        top: 964px;
        background: #91bfe9;
        opacity: 0.2;
        @include for-1025-px {
            left: 842px;
            top: 795px;
            background: #caf3ee;
        }
    }
    .el25 {
        width: 48px;
        height: 48px;
        left: 1085px;
        top: 1322px;
        @include for-1025-px {
            display: none;
        }
    }
    .el26 {
        width: 62.25px;
        height: 62.25px;
        left: 1017px;
        top: 1364px;
        background: #bb9bff;
        opacity: 0.2;
        @include for-1025-px {
            left: 940px;
            top: 1180px;
            background: #ff7f68;
            opacity: 0.4;
        }
    }
    .main-title {
        margin-bottom: 32px;
        font-weight: 600;
        font-size: 50px;
        line-height: 62px;
        @include for-1000-px {
            font-size: 40px;
        }
        @include for-1000-px {
            margin-bottom: 24px;
            font-size: 24px;
            line-height: 32px;
        }
    }
    .books {
        margin-bottom: 30px;
        .title {
            margin-bottom: 24px;
            font-weight: 600;
            font-size: 30px;
            line-height: 42px;

            @include for-1000-px {
                font-size: 24px;
                line-height: 32px;
            }
            @include for-640-px {
                font-size: 20px;
                line-height: 28px;
            }
        }
        .cards {
            justify-content: space-between;
        }
    }
}
