.site3 {
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
    display: grid;
    column-gap: 24px;
    row-gap: 60px;
    grid-template-columns: 1fr 270px;
    grid-template-areas:
        "big-book banners"
        "regular-search banners"
        "parts banners"
        "books banners"
        "rating-soc banners"
        "vk banners"
        "about banners";
    @include for-1340-px {
        grid-gap: 60px;
        grid-template-columns: calc(100vw - 108px);
        grid-template-areas:
            "big-book"
            "regular-search"
            "parts"
            "books"
            "rating-soc"
            "vk"
            "banners"
            "about";
    }
    @include for-1000-px {
        grid-template-columns: calc(100vw - 40px);
        grid-gap: 40px;
    }
    @include for-640-px {
        grid-template-columns: calc(100vw - 20px);
        grid-gap: 30px;
    }
    .big-book {
        padding: 24px;
        display: flex;
        gap: 20px;
        @include for-640-px {
            padding: 16px;
            flex-direction: column;
            align-items: center;
        }
        .image-wrapper {
            flex-shrink: 0;
            width: 206px;
            height: 244px;
            padding: 8px;
            background: #cdd8ed;
            border-radius: 16px;
            .book-cover {
                width: 190px;
                height: 228px;
                border-radius: 16px;
                object-fit: cover;
            }
        }
        .right {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            gap: 8px;
            justify-content: space-between;
            @include for-640-px {
                padding: 0;
                align-items: center;
            }
            .name {
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                @include for-640-px {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            .for-class {
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
                @include for-640-px {
                    display: none;
                }
            }
            .year {
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
            }
            .description {
                font-size: 16px;
                line-height: 22px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                @include for-640-px {
                    font-size: 14px;
                    line-height: 22px;
                    -webkit-line-clamp: 10;
                    text-align: center;
                }
            }
        }
    }
    .books {
        margin-bottom: 0;
        .cards {
            justify-content: space-between;
        }
    }
    .vk {
        object-fit: cover;
    }

    .about {
        padding: 32px;
        @include for-1000-px {
            padding: 24px;
        }
        @include for-640-px {
            padding: 16px;
        }
        .title {
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 30px;
            line-height: 42px;

            @include for-1000-px {
                font-size: 24px;
                line-height: 32px;
            }
            @include for-640-px {
                font-size: 20px;
                line-height: 28px;
            }
        }
        .subtitle {
            width: 484px;
            margin-top: 20px;
            margin-bottom: 16px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            @include for-1025-px {
                width: 470px;
                font-size: 14px;
                line-height: 22px;
            }
            @include for-1000-px {
                width: auto;
            }
        }
        .text {
            font-size: 17px;
            line-height: 24px;

            @include for-1025-px {
                font-size: 14px;
                line-height: 22px;
            }
            &:last-child {
                width: 484px;
                @include for-1000-px {
                    width: auto;
                }
            }
        }
        ul {
            margin-left: 25px;
            margin-bottom: 20px;
            font-size: 17px;
            line-height: 24px;

            @include for-1025-px {
                font-size: 14px;
                line-height: 22px;
            }
            @include for-1000-px {
                margin-left: 15px;
            }
        }
    }
}
